@model IndexViewModel
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = "User Logins";
}

<h1>Test</h1>

@*
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="hidden-xs">
                    @Html.DisplayNameFor(model => model.ImageFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellingPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="hidden-xs">
                        <img class="thumbnail" src="images\@Html.DisplayFor(modelItem => item.ImageFileName)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellingPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        <a asp-action="AddToCart" asp-route-id="@item.ID">Add To Cart</a>
                    </td>
                </tr>


    }
        </tbody>
    </table>
*@


