@model IEnumerable<BWSC.Models.CartItem>

@{
    ViewData["Title"] = "Shopping Basket";
}

<h2>Shopping Basket</h2>

<table class="table">
    <thead>
        <tr>
            <th class="hidden-xs">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.SellingPrice)
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="hidden-xs">
                <img class="thumbnail" src="images\@Html.DisplayFor(modelItem => item.Product.ImageFileName)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.SellingPrice)
            </td>
            <td>
                @(item.Product.SellingPrice * item.Quantity)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ItemId" class="glyphicon glyphicon-trash" ></a>
            </td>
        </tr>
}
    </tbody>
</table>
