@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>
@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Admin")
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <h2>Roles Listing </h2>

    @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
    <hr />
    <div>
        @foreach (var role in Model)
        {
            <p>
                <strong>@role.Name | </strong>
                <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a></span> |
                @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
            </p>
        }
    </div>
</div>